
h1{
	text-align: center;
	border-bottom:1px solid black;
}

h4{
	color:white;
text-align: center;
background-color: crimson;
padding: 10px 0;
}

h5{
	color:red;
	border-bottom: 1px solid red;
}
.box{
	width:100px;
	height:100px;
	background-color:ghostwhite;
	margin:30px;
}
.box1{
	min-height:100px;
	background-color:lightblue;
	
}

.box2{
	width:1100px;
	height:300px;
	background-color:lightblue;
	margin:30px 0;
}

.box3{
	min-height:50px;
	background-color:lightblue;
